*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# VM Error Logs #
hs_err_pid*

# Ignore Netbeans-specific classes #
build/
dist/
lib/
nbproject/

# Ignore library docs and stuff #
.DS_Store
